.ios,
.md {
    page-login {
        .content {
            background-color: wheat;
        }
        .title {
            position: relative;
            top: 30%;
            text-align: center;
            margin: 10px auto;
            color: blueviolet;
        }
        .login-btn {
            position: relative;
            top: 60%;
            width: 80%;
            margin: 90px auto;
            text-align: center;
        }
    }
}