<ion-header>

    <ion-navbar [hideBackButton]="true" color="navColor">
        <ion-title>Classic</ion-title>
    </ion-navbar>

    <heartcoin></heartcoin>

</ion-header>


<ion-content padding>

    <!-- time counter -->
    <div class="timer">
        00:{{showTimeLeft}}
    </div>

    <!-- begin slides -->
    <ion-slides [spaceBetween]="spaceBetween">
        <ion-slide *ngFor="let data of datas ">
            <!-- question -->
            <question-template [data]="data"></question-template>

            <!-- answers -->
            <div *ngIf="data" class="answer">
                <button id="0" (click)="selectAnswer(data.answers[0])">{{data.answers[0].answer}}</button>
                <button id="1" (click)="selectAnswer(data.answers[1])">{{data.answers[1].answer}}</button>
                <button id="2" (click)="selectAnswer(data.answers[2])">{{data.answers[2].answer}}</button>
                <button id="3" (click)="selectAnswer(data.answers[3])">{{data.answers[3].answer}}</button>
                <!--<button *ngFor="let answer of data.answers" (click)="selectAnswer(answer)">{{answer.answer}}</button>-->
            </div>

        </ion-slide>
    </ion-slides>

    <!-- Show score -->
    <div class="score">
        <span>score: {{score}}/{{numOfQuestion}}</span>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col col-3>
                <button id="quit-btn">
        Quit
      </button>
            </ion-col>
            <ion-col offset-3 col-3>
                <button (click)="cutChoice()">
        ຕັດ1ຂໍ້
      </button>
            </ion-col>
            <ion-col col-3>
                <button (click)="answer2Time()" [disabled]="outOfChance">
        ຕອບ2ເທື່ອ
      </button>
            </ion-col>
        </ion-row>



    </ion-toolbar>
</ion-footer>

<!-- POPUP -->
<answer-popup *ngIf="hasAnswered" [showText]="showText"></answer-popup>

<classic-end-popup *ngIf="gameFinished" [score]="score"></classic-end-popup>

<tryagain-popup *ngIf="showTryAgain"></tryagain-popup>