page-question {
    .timer {
        text-align: right;
    }
    .score {
        text-align: center;
    }
    .option {
        width: 100%;
        text-align: right;
        button {
            width: 70px;
            height: 30px;
            border-radius: 3px;
        }
    }
    .quit {
        bottom: 0px;
        button {
            width: 70px;
            height: 30px;
            border-radius: 3px;
        }
    }
    .answer {
        button {
            width: 100%;
            height: 40px;
            margin: 5px auto;
            border-radius: 5px;
        }
    }
    // classic end popup
    classic-end-popup {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-top: 20%;
        z-index: 10;
    }
    // tryagain popup
    tryagain-popup {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-top: 20%;
        z-index: 10;
    }
    ion-slides {
        height: 350px;
    }
}