page-tabs {
    .bar {
        position: absolute;
        width: 100%;
        height: 55px;
        left: 0;
        bottom: 0px;
        z-index: 2;
        button {
            width: 100%;
            height: 55px;
            background-color: #16A07E;
        }
    }
}