waiting-box {
    .waiting-content {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid grey;
        margin: 0px;
        background: white;
        img {
            width: 40px;
            height: 40px;
            border: 1px solid #16A07E;
            border-radius: 20px;
        }
        .score-board {
            position: relative;
            top: -15px;
        }
        button {
            position: relative;
            top: 5px;
            width: 90%;
            height: 35px;
            border-radius: 5px;
            border: 1px solid #29ACFD;
            background: #29ACFD;
        }
    }
}