classic-score {
    .classic {
        width: 100%;
        background: white;
        border-bottom: 1px solid grey;
        button {
            height: 65px;
            width: 130px;
            border: 1px solid #16A07E;
            border-radius: 5px;
            font-size: 20px;
        }
        .score {
            text-align: center;
            padding-top: 25px;
            font-size: 20px;
        }
        .percent {
            text-align: center;
            padding-top: 25px;
            font-size: 20px;
        }
    }
}