page-game-classic {
    .footer {
        width: 100%;
        height: 70px;
        font-size: 20px;
        padding: 5px;
        position: absolute;
        bottom: 0px;
        background: wheat;
    }
}